*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-div{
    /*background-color: #8b8f9e;*/
    background-image: linear-gradient(#8b8f9e, #bec1ce);
    height: 100vh;
}

.inner-div{
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: center;
    position: relative;
    top: 25%;
    box-shadow: 0px 0px 20px 5px gray;
    border-radius: 20px;
}

.left-side{
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 1rem;
    height: 320px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5rem;
}

.right-side{
    width: 50%;
    /*background-color: #475aa1;*/  
    background-image: linear-gradient(#475aa1, #bec1ce);
    height: 320px;
    align-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
}

.username{
    display: inline-block;
}

img{
    width: 75%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
    margin: 0 45px;
    border-radius: 6%;
}

.box1{
    background-color: #bec1ce;
    width:50%;
    margin: 10px auto 0px auto;
    border-radius: 10px;
    /*box-shadow: 0px 0px 5px 0px gray;*/
}

.box2{
    background-color: #bec1ce;
    width:50%;
    margin: 0px auto 0px auto;
    border-radius: 10px;
    /*box-shadow: 0px 0px 5px 0px gray;*/
}

input{
    width: 55%;
    /*border-radius: 8px;
    background-color: #bec1ce;*/
    border-style: none;
    outline:none;
    padding: 2px;
    background-color: transparent;
    padding: 5px;
    position: relative;
    left: -30px;
}

input::placeholder{
    color: #262629;
    font-size: x-small;
}

.header i{
    font-size: small;
    color: #262629;
    position: relative;
    left: -30px;
}

.left-side h1{
    text-transform: uppercase;
    color: #262629;
    font-size: large;
}

.left-side p{
    color: #7b7c86;
    font-size: small;
}

form button{
    padding: 10px 18px;
    border-radius: 10px;
    border-style: none;
    background-color: #475aa1;
    font-weight: 900;
    font-size:x-small;
    letter-spacing: -0.5px;
    word-spacing: 2px;
    color: white;
    box-shadow: 0px 0px 20px 0px gray;
    cursor: url('cursor.cur'),auto;
    transition: ease-in-out;
    position: relative;
    top: -18px;
}

.footer{
    position: relative;
    top: -20px;
    font-size: smaller;
}

.footer p{
    font-weight:700;
    font-size: small;
}

.footer i{
    margin: 0 5px;
    font-size: larger;
}

.footer a{
    text-decoration: none;
    color: #7b7c86;
    font-weight: 700;
    cursor: url(cursor.cur),auto;
}

span{
    font-weight: bolder;
    color: #262629;
}

.for-google{
    cursor: url(cursor.cur),auto;
}

.for-facebook{
    margin-top: -10px;
    cursor: url(cursor.cur),auto;
}

button:hover{
    transform: scale(0.95);
}

input:hover{
    cursor: url(cursor.cur),auto;
}